:root {
    --1: darkslategrey;
    --2: black;
    --3: mediumAquamarine;
    --text: white;
    overflow-x: hidden;
}

/*
for screens between 2000 and 4000px: 1920px
*/
@media only screen and (min-width: 1920px) {
    body { width: 1800px; height: 1300px; }
    #menu { float: left; margin-right: 20px; font-size: 200px; color: var(--text); }
    #content { float: left; margin-top: 20px;}
    #content button { margin: 40px 20px 20px; width: 350px; font-size: 40px; font-family: monospace; font-weight: bold; color: var(--text); background-color: var(--3); border-radius: 0px; border-color: initial; padding: 10px; }
    #hello { background-color: var(--3); margin-right: 200px; border-radius: 60px; font-size: 30px; padding: 30px 30px 30px 60px; }
    #profileImg { height: 450px; width: 450px; position: absolute; top: 300px; right: 500px; border-radius: 50%; }
    #top-section { position: absolute; top: 300px; left: 250px; }
    #top-section h1 { font-size: 70px; }
    #top-section h3 { font-size: 40px; }
    #top-section p { font-size: 30px; }
    #symbol { font-size: 30px; }
    #linked { margin-right: 10px; }
    #codewar { margin-left: 20px; }
    #stack { margin-left: 20px; }
    .techImg { position: absolute; top: 850px; left: 270px; width: 300px; }
    .techDesc { position: absolute; top: 1030px; left: 200px; width: 500px; font-size: 20px; }
    .section { position: absolute; top: 800px; left: 800px; }
    #about { font-size: 20px; }
    #buttons button { font-size: 18px; }
    #download {font-size: 20px; }
    #contact { margin: 0px 20px 0px 120px; width: 200px; top: 800px; }
    #contact input { font-size: 20px; padding: 5px; margin: 10px; width: 320px; border-radius: 60px; }
    #contact button { font-size: 17px; width: 50%; margin-left: 120px; margin-top: 10px; }
    #qualifications { top: 800px; font-size: 30px; }
    #portfolio { font-size: 22px; top: 750px; width: 900px; }
    .pagination a { color: black; float: left; padding: .08in .16in; text-decoration: none; transition: background-color .3s; }
    div.pagination { position: relative; top: .05in; left: 1.5in; }
    footer { position: absolute; bottom: .1in; right: 0in; }
    #js { width: 180px; height: 180px; left: 330px;}
    #jquery { width: 190px; height: 190px; left: 330px; top: 830px}
    #vertx { height: 160px; }
    #mysql { height: 160px; top: 870px; }
    #rxjava { height: 140px; top: 890px; }
    #docker { height: 220px; top: 810px;}
    #linux { top: 825px; }
    #vim { height: 200px; width: 200px; top: 840px; left: 330px; }
    #couchbase { top: 890px;}
    #intel { height: 200px; width: 200px; top: 840px; left: 330px; }
}


/*
for screens between 1000 and 1911px: 1920px
*/
@media only screen and (max-width: 1920px) {
    body { width: 10in; height: 9in; }
    #menu { float: left; margin-right: .1in; font-size: .8in; color: var(--text); }
    #content { float: left; margin-top: .1in;}
    #content button { margin: .1in; width: 2in; font-size: .2in; font-family: monospace; font-weight: bold; color: var(--text); background-color: var(--3); border-radius: 0in; border-color: initial; padding: .08in; }
    #hello { background-color: var(--3); margin-right: 1in; border-radius: .5in; font-size: .16in; padding: .15in .15in .15in .5in; }
    #profileImg { height: 3in; width: 3in; position: absolute; top: 1.5in; right: 2in; border-radius: 50%; }
    #top-section { position: absolute; top: 1.8in; left: 1in; }
    .section { position: absolute; bottom: 1.5in; left: 4.5in; }
    #codewar { margin-left: .05in; }
    #stack { margin-left: .1in; }
    #js { width: 1.6in; height: 1.6in; left: 1.2in;}
    #jquery { width: 1.7in; height: 1.5in; }
    #vertx { height: 1.2in; }
    #rxjava { height: 1.2in; }
    #vim { height: 1.6in; width: 1.8in; }
    #intel { height: 1.6in; width: 1.8in; }
    #contact { margin: 0in 2in 0in .64in; width: 2in; bottom: 1in; }
    #contact input { padding: .13cm; margin: .1in; width: 2.5in; border-radius: .4in; }
    #contact button { width: 50%; margin-left: .85in; margin-top: .05in; }
    #qualifications { bottom: 1.85in; }
    #portfolio { font-size: .16in; bottom: 1.3in; width: 5.5in; }
    .techImg { position: absolute; bottom: 3in; left: 1.0in; width: 2.2in; }
    .techDesc { position: absolute; top: 6in; left: .3in; width: 4in; }
    .pagination a { color: black; float: left; padding: .08in .16in; text-decoration: none; transition: background-color .3s; }
    div.pagination { position: relative; top: .05in; left: 1.5in; }
    footer { position: absolute; bottom: .1in; right: 0in; }
}

/*
for screens 1000 pixels or smaller:
*/
@media only screen and (max-width: 10in) {
    :root { overflow-x: auto; }
    body { width: 6in; height: 7.4in; }
    #menu { float: left; margin-right: .1in; font-size: .7in; color: var(--text); }
    #content { float: left; margin-top: .1in;}
    #content button { margin: .04in; margin-top: .15in; width: 1.2in; font-size: .13in; font-family: monospace; font-weight: bold; color: var(--text); background-color: var(--3); border-radius: 0in; border-color: initial; padding: .04in; }
    #hello { background-color: var(--3); margin-right: 1in; border-radius: .5in; font-size: .16in; padding: .15in .15in .15in .5in; }
    #profileImg { height: 2.0in; width: 2.0in; position: absolute; top: 1.2in; right: .9in; border-radius: 50%; }
    #top-section { position: absolute; top: 1in; left: 0in; }
    .section { width: 3in; position: absolute; bottom: .1in; left: 3in; }
    .section h4 { font-size: .14in; }
    #buttons button { font-size: .12in; }
    #js { width: 1.3in; height: 1.4in; left: .4in;}
    #intel { width: 1.6in; height: 1.4in; }
    #jquery { width: 1.6in; height: 1.3in; }
    #rxjava { height: 1in;}
    #vim { width: 1.6in; height: 1.2in; }
    #contact { margin: 0in 2in 0in 1in; width: 2in; bottom: 1in; left: 2in; }
    #contact input { padding: .03in; margin: .07in; width: 2.5in; border-radius: .40in; }
    #contact button { width: 50%; margin-left: .85in; margin-top: .05in; }
    #qualifications { bottom: 1in; }
    #portfolio { bottom: 0in; width: 3in; }
    #portfolio p, li { font-size: .14in; }
    .techImg { position: absolute; bottom: 2.3in; left: .3in; width: 2.0in; }
    .techDesc { position: absolute; top: 5.1in; left: .1in; width: 2.5in; height: 1.5in; }
    .pagination a { color: black; float: left; padding: .08in .16in; text-decoration: none; transition: background-color .3s; }
    div.pagination { position: relative; top: .05in; left: 1.5in; }
    footer { display: none; }
}


.noSelect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

::selection {
    background: deepskyblue;
}

body {
    position: relative;
    margin: auto;
    background-color: var(--1);
    color: var(--text);
}


h1 {
    font-family: 'monospace', serif;
    font-size: .43in;
    margin: -.05in;
}

h4 {
    margin-bottom: .03in;
}

button {
    color: var(--text);
    background-color: var(--1);
    border-radius: .3in;
    border-color: var(--3);
    padding: .08in;
    margin-top: .05in;
}

button:focus, input:focus {
    outline: none;
}

button:hover, span:hover {
    cursor: pointer;
}

#content button:hover {
    background-color: var(--text);
    color: var(--3);
}

/*button#activeButton {*/
/*    background-color: var(--text);*/
/*    color: var(--3);*/
/*}*/

.hideSection {
    display: none;
}

.hideImg {
    display: none;
}

.hideDesc {
    display: none;
}

.fa-github, .fa-linkedin {
    padding-left: .05in;
    padding-right: .05in;
}

li {
    margin-top: .1in;
    margin-bottom: .1in;
    margin-left: .2in;
}

a {
    color: antiquewhite;
}


.hidePort {
    display: none;
}

span.arrows {
    font-size: .3in;
    font-weight: bold;
    font-family: monospace;
}

#leftArrow {
    float: left;
    margin-right: .1in;
}

#rightArrow {
    float: left;
    margin-left: .1in;
}


.pagination a.active {
    background-color: dodgerblue;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

