:root {
    --1: darkslategrey;
    --2: black;
    --3: mediumAquamarine;
    --text: white;
    overflow-x: hidden;
}


/*
for screens between 1000 and 1911px:
*/
@media only screen and (min-width: 1001px) {
    body { width: 1000px; height: 900px; }
    #menu { float: left; margin-right: 10px; font-size: 70px; color: var(--text); }
    #content { float: left; margin-top: 10px;}
    #content button { margin: 10px; width: 200px; font-size: 20px; font-family: monospace; font-weight: bold; color: var(--text); background-color: var(--3); border-radius: 0px; border-color: initial; padding: 8px; }
    #profileImg { height: 280px; width: 280px; position: absolute; top: 160px; right: 300px; border-radius: 50%; }
    #top-section { position: absolute; top: 180px; left: 100px; }
    .section { position: absolute; bottom: 150px; left: 450px; }
    #contact { margin: 0px 200px 0px 100px; width: 200px; bottom: 100px; }
    #contact input { padding: 5px; margin: 10px; width: 250px; border-radius: 40px; }
    #qualifications { bottom: 185px; }
    #portfolio { font-size: 14px; bottom: 130px; width: 550px; }
    .techImg { position: absolute; bottom: 300px; left: 130px; width: 180px; }
    .techDesc { position: absolute; top: 600px; left: 30px; width: 400px; }
    .pagination a { color: black; float: left; padding: 8px 16px; text-decoration: none; transition: background-color .3s; }
    div.pagination { position: relative; top: 5px; left: 150px; }
    footer { position: absolute; bottom: 10px; right: 0px; }
}

/*
for screens 1000 pixels or smaller:
*/
@media only screen and (max-width: 1000px) {
    :root { overflow-x: auto; }
    body { width: 600px; height: 710px; }
    #menu { float: left; margin-right: 10px; font-size: 70px; color: var(--text); }
    #content { float: left; margin-top: 10px;}
    #content button { margin: 5px; width: 110px; font-size: 12px; font-family: monospace; font-weight: bold; color: var(--text); background-color: var(--3); border-radius: 0px; border-color: initial; padding: 4px; }
    #profileImg { height: 150px; width: 150px; position: absolute; top: 120px; right: 90px; border-radius: 50%; }
    #top-section { position: absolute; top: 100px; left: 0px; }
    .section { width: 300px; position: absolute; bottom: 10px; left: 300px; }
    #js { width: 130px; height: 140px; }
    #intel { width: 160px; height: 140px; }
    #jquery { width: 160px; height: 130px; }
    #vim { width: 160px; height: 120px; }
    #contact { margin: 0px 200px 0px 100px; width: 200px; bottom: 100px; left: 200px; }
    #contact input { padding: 5px; margin: 10px; width: 250px; border-radius: 40px; }
    #qualifications { bottom: 125px; }
    #portfolio { bottom: 0px; width: 300px; }
    .techImg { position: absolute; bottom: 200px; left: 60px; width: 145px; }
    .techDesc { overflow-y: auto; position: absolute; top: 510px; left: 10px; width: 250px; height: 150px; }
    .pagination a { color: black; float: left; padding: 8px 16px; text-decoration: none; transition: background-color .3s; }
    div.pagination { position: relative; top: 5px; left: 150px; }
    footer { display: none; }
}


.noSelect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

::selection {
    background: deepskyblue;
}

body {
    position: relative;
    margin: auto;
    background-color: var(--1);
    color: var(--text);
}

#hello {
    background-color: var(--3);
    margin-right: 100px;
    border-radius: 50px;
    font-size: 16px;
    padding: 15px 15px 15px 50px;
}

h1 {
    font-family: 'monospace', serif;
    font-size: 43px;
    margin: -5px;
}

h4 {
    margin-bottom: 3px;
}

button {
    color: var(--text);
    background-color: var(--1);
    border-radius: 30px;
    border-color: var(--3);
    padding: 8px;
    margin-top: 5px;
}

button:focus, input:focus {
    outline: none;
}

button:hover, span:hover {
    cursor: pointer;
}

#content button:hover {
    background-color: var(--text);
    color: var(--3);
}

/*button#activeButton {*/
/*    background-color: var(--text);*/
/*    color: var(--3);*/
/*}*/

.hideSection {
    display: none;
}

.hideImg {
    display: none;
}

.hideDesc {
    display: none;
}

.fa-github, .fa-linkedin {
    padding-left: 5px;
    padding-right: 5px;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

a {
    color: antiquewhite;
}


#contact button {
    width: 50%;
    margin-left: 85px;
    margin-top: 5px;
}


.hidePort {
    display: none;
}

span.arrows {
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
}

#leftArrow {
    float: left;
    margin-right: 10px;
}

#rightArrow {
    float: left;
    margin-left: 10px;
}


.pagination a.active {
    background-color: dodgerblue;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

